.home{
    width: 100%;
  
    .navbarr{
        width: 100%;
        height: fit-content;
    }
    .main{
        width: 100%;
        height: fit-content;
        background-color: #f1f2f2;
        
    }
    .report{
        width: 100%;
       height: fit-content;
       background-color: #f1f2f2;
        
    }
    .statss{
          width: 100%;
       height: fit-content;
    }

    .placements{
        width: 100%;
        height: fit-content;
    }
    .reviews{
        width: 100%;
        height: fit-content;
    }
    .coursel{
        width: 100%;
        // border: 10px solid olive;
        height: fit-content;
    }
    .contacts{
       
        width: 100%;
        height: fit-content;
    }
    .news{
        width: 100%;
        height: fit-content;
    }
    .events{
        width: 100%;
        height: fit-content;
    }
    .footers{
        width: 100%;
        height: fit-content;
    }
}